@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital@1&family=Alegreya+Sans&family=Alegreya+Sans+SC&family=Alkatra&family=Josefin+Sans&family=Noto+Sans&family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}